@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
  --f: 'Google Sans Flex', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --m: 'Google Sans Code', ui-monospace, monospace;
}

body {
  font-family: var(--f);
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
}

button,
input,
textarea,
select {
  font: inherit;
}
